<header>
  <a href="#" [routerLink]="['regs', 'registrations']">Детально </a>
  <a href="#" [routerLink]="['regs', 'ppr']">ППР </a>
  <a href="#" [routerLink]="['regs', 'partner']">Партнер </a>
  <a href="#" [routerLink]="['regs', 'rdms']">Реєстрації ТТ </a>
  <a href="#" [routerLink]="['regs', 'msisdn']">Реєстрації партнер </a>
  <a href="#" [routerLink]="['regs', 'plan']">Індивідуальний план </a>
  <a href="#" [routerLink]="['regs', 'outlets']">Торгові точки </a>
  <a href="#" routerLink="settings-ppr">Налаштування</a>
</header>
<app-main-nav></app-main-nav>
<!--<router-outlet></router-outlet>-->
