<h1>RDMS</h1>
<br>
<p>
  Усіх ТТ категорії А: {{aAllPlanCount$ | async}}
  <span>Виконало план кат. А: {{aCompletedPlanCount$ | async}} </span>
  <span>Без перевірки ДУД кат. А: {{aMayCompletedPlanCount$ | async}}</span>
  <span> {{(aCompletedPlanCount$ | async)/(aAllPlanCount$ | async) | percent}}</span>
  <span>({{(aMayCompletedPlanCount$ | async)/(aAllPlanCount$ | async) | percent}})</span>
</p>
<p>
  Усіх ТТ категорії B: {{bAllPlanCount$ | async}}
  <span>Виконало план кат. B: {{bCompletedPlanCount$ | async}} </span>
  <span>Без перевірки ДУД кат. B: {{bMayCompletedPlanCount$ | async}}</span>
  <span> {{(bCompletedPlanCount$ | async)/(bAllPlanCount$ | async) | percent}}</span>
  <span>({{(bMayCompletedPlanCount$ | async)/(bAllPlanCount$ | async) | percent}})</span>
</p>
<label>
  <input type="text" [formControl]="inputFilterValue" placeholder="Filter ...">
</label>
<label>
  <select [formControl]="namePPDFilterValue">
    <option [value]="''">--Select--</option>
    <option *ngFor="let reg of namePPDList$ | async" [value]="reg.namePPD">{{reg.namePPD}}</option>
  </select>
</label>
<label>
  <select [formControl]="typeRDMSFilterValue">
    <option value="">A/B</option>
    <option value="A">A</option>
    <option value="B">B</option>
  </select>
</label>
<label>
  <select [formControl]="registrationsFilterValue" [multiple]="true">
    <option *ngFor="let el of dropdownList" [value]="el['item_id']">{{el['item_text']}}</option>
  </select>
</label>

<table>
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let reg of filteredRegistrationsRdms$ | async" [ngStyle]=getStyle(reg) (click)="toRegistrationsDetailed(reg.codeRDMS)">
    <td>{{reg.codeRDMS}}</td>
    <td>{{reg.nameRDMS}}</td>
    <td>{{reg.addressRDMS}}</td>
    <td>{{reg.typeRDMS}}</td>
    <td>{{reg.namePPD}}</td>
    <td>{{reg.allCount}}</td>
    <td>{{reg.onCheckingCount}}</td>
    <td>{{reg.checkedDudCount}}</td>
    <td>{{reg.plan}}</td>
    <td>{{reg.toMake}}</td>
    <td>{{reg.toMakeUnchecked}}</td>
  </tr>
</table>
